### 문자열 밀기
문자열 "hello"에서 각 문자를 오른쪽으로 한 칸씩 밀고 마지막 문자는 맨 앞으로 이동시키면 "ohell"이 됩니다. 이것을 문자열을 민다고 정의한다면 문자열 A와 B가 매개변수로 주어질 때, A를 밀어서 B가 될 수 있다면 몇 번 밀어야 하는지 횟수를 return하고 밀어서 B가 될 수 없으면 -1을 return 하도록 solution 함수를 완성해보세요.

In [38]:
# my
from collections import deque
def solution(A, B):
    answer = 0
    if A == B:
        return 0
    A = deque(A)
    deq_b = deque(B)
    for i in range(len(A)):
        A.appendleft(A[-1])
        A.pop()
        if A == deq_b:
            answer += i+1
            return i+1
    if answer == 0:
        return -1

In [39]:
# A = 'happy'
# B = 'happy'
A = 'hello'
B = 'llohe'
solution(A,B)

3

In [40]:
# others
solution=lambda a,b:(b*2).find(a)

In [42]:
A = 'happy'
B = 'happy'
# A = 'hello'
# B = 'llohe'
solution(A,B)

0

### 삼각형의 완성조건(1)

선분 세 개로 삼각형을 만들기 위해서는 다음과 같은 조건을 만족해야 합니다.

가장 긴 변의 길이는 다른 두 변의 길이의 합보다 작아야 합니다.
삼각형의 세 변의 길이가 담긴 배열 sides이 매개변수로 주어집니다. 세 변으로 삼각형을 만들 수 있다면 1, 만들 수 없다면 2를 return하도록 solution 함수를 완성해주세요.

In [43]:
# my
def solution(sides):
    max_len = max(sides)
    sum = -max_len
    for i in sides:
        sum += i
    if max_len >= sum:
        return 2
    else:
        return 1

In [46]:
# sides = [1,2,3]
sides = [3,6,2]
solution(sides)

2

In [45]:
# others
def solutions(sides):
    return 1 if max(sides) < (sum(sides)-max(sides)) else 2

### 주사위의 개수

머쓱이는 직육면체 모양의 상자를 하나 가지고 있는데 이 상자에 정육면체 모양의 주사위를 최대한 많이 채우고 싶습니다. 상자의 가로, 세로, 높이가 저장되어있는 배열 box와 주사위 모서리의 길이 정수 n이 매개변수로 주어졌을 때, 상자에 들어갈 수 있는 주사위의 최대 개수를 return 하도록 solution 함수를 완성해주세요.

In [47]:
# my
def solution(box, n):
    return (box[0] // n) * (box[1]//n) * (box[2]//n)

In [48]:
box = [1,1,1]
n=1
solution(box,n)

1

### 합성수 찾기

약수의 개수가 세 개 이상인 수를 합성수라고 합니다. 자연수 n이 매개변수로 주어질 때 n이하의 합성수의 개수를 return하도록 solution 함수를 완성해주세요.ㅡ

In [51]:
# my
def solution(n):
    answer = 0
    for i in range(1, n+1):
        cnt = 0
        for j in range(1, i+1):
            if i % j == 0:
                cnt += 1
        if cnt >= 3:
            answer += 1
    return answer

In [52]:
n = 10
solution(n)

5

### 직사각형 넓이 구하기

2차원 좌표 평면에 변이 축과 평행한 직사각형이 있습니다. 직사각형 네 꼭짓점의 좌표 [[x1, y1], [x2, y2], [x3, y3], [x4, y4]]가 담겨있는 배열 dots가 매개변수로 주어질 때, 직사각형의 넓이를 return 하도록 solution 함수를 완성해보세요.

In [55]:
# my
def solution(dots):
    x = set([dots[0][0], dots[1][0], dots[2][0], dots[3][0]])
    y = set([dots[0][1], dots[1][1], dots[2][1], dots[3][1]])
    x_len = max(x) - min(x)
    y_len = max(y) - min(y)
    return x_len * y_len

In [57]:
dots = [[1, 1], [2, 1], [2, 2], [1, 2]]
solution(dots)

1

In [56]:
# others
def solution(dots):
    return (max(dots)[0]-min(dots)[0])*(max(dots)[1] - min(dots)[1])

### 연속된 수의 합  (미해결)

연속된 세 개의 정수를 더해 12가 되는 경우는 3, 4, 5입니다. 두 정수 num과 total이 주어집니다. 연속된 수 num개를 더한 값이 total이 될 때, 정수 배열을 오름차순으로 담아 return하도록 solution함수를 완성해보세요.

In [75]:
def solution(num, total):
    answer = []
    for i in range(-total, total):
        if sum(range(i, i+num)) == total:
            for j in range(i, i+num):
                answer.append(j)
            return answer

In [76]:
num = 3
total = 12
solution(num, total)

[3]
[3, 4]
[3, 4, 5]

### 겹치는 선분의 길이 (미해결)

빨간색, 초록색, 파란색 선분이 x축 위에 있습니다. 세 선분의 x좌표 시작과 끝이 [[start, end], [start, end], [start, end]] 형태로 들어있는 2차원 배열 lines가 매개변수로 주어질 때, 두 개 이상의 선분이 겹치는 부분의 길이를return 하도록 solution 함수를 완성해보세요.

lines가 [[0, 2], [-3, -1], [-2, 1]]일 때 그림으로 나타내면 다음과 같습니다.

In [ ]:
def solution(lines):
    answer = 0
    
    for i, v in enumerate(lines):
        'line'+i = v
    
    # return answer

In [94]:
lines = [[0, 1], [2, 5], [3, 9]]
mini = min(lines)[0]
maxi = max(lines)[0]
maxi

3

### 영어가 싫어요

영어가 싫은 머쓱이는 영어로 표기되어있는 숫자를 수로 바꾸려고 합니다. 문자열 numbers가 매개변수로 주어질 때, numbers를 정수로 바꿔 return 하도록 solution 함수를 완성해 주세요.

In [98]:
def solution(numbers):
    answer = 0
    number = {'zero':0, 'one':1, 'two':2, 'three':3, 'four':4,
             'five':5, 'six':6, 'seven':7, 'eight':8, 'nine':9}
    for key in number.keys():
        if key in numbers:
            numbers = numbers.replace(key, str(number[key]))
    return int(numbers)

In [100]:
numbers = "onetwothreefourfivesixseveneightnine"
solution(numbers)

'123456789'